<h3 class="md-padding">Customer Information</h3>

<div layout="row" class="md-padding">

    <form layout="column" name="info" ng-submit="" novalidate flex="70">

        <md-input-container>
            <label>First Name</label>
            <input type="type"
                   ng-model="customer.instrument.credit_card.first_name"/>
        </md-input-container>

        <md-input-container>
            <label>Last Name</label>
            <input type="type"
                   ng-model="customer.instrument.credit_card.last_name"/>
        </md-input-container>

        <md-input-container>
            <label>Address</label>
            <input type="type"
                   ng-model="customer.instrument.credit_card.billing_address.line1"/>
        </md-input-container>

        <md-input-container>
            <label>City</label>
            <input type="type"
                   ng-model="customer.instrument.credit_card.billing_address.city"/>
        </md-input-container>

        <md-input-container>
            <label>State</label>
            <input type="type"
                   ng-model="customer.instrument.credit_card.billing_address.postal_code"/>
        </md-input-container>

        <md-input-container>
            <label>Credit Card No</label>
            <input type="type"
                   ng-model="customer.instrument.credit_card.number"/>
        </md-input-container>

    </form>

    <div flex>
        <md-button>
            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/ppcredit-logo-large.png"
                 style="width: 150px; height: 35px;" ng-click="customer.credit()" alt="PayPal Credit"/>
        </md-button>
    </div>


</div>

